<!DOCTYPE html>

<html lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
    {{> components/_head.hbs }}
</head>

<body>
    {{#> components/_nav.hbs }}

    {{!-- For /index, include a "new" link that goes to the curated news feed page. --}}
    {{#if (eq page.tree_path "index")}}
    <a href="{{ config.site }}/treehouse/new" data-cast="new">new</a>
    {{/if}}

    {{/ components/_nav.hbs }}

    {{> components/_noscript.hbs }}

    {{!--
    NOTE: ~ because components/_tree.hbss must not include any extra indentation, because it may
    contain pre elements which shouldn't be indented.
    --}}
    {{~> components/_tree.hbs }}

    {{!-- For all pages except the one linked from the footer, include the footer icon. --}}
    {{#if (ne page.tree_path "treehouse")}}
    {{> components/_footer.hbs }}
    {{/if}}
</body>

</html>
