<nav>
    <a href="{{ config.site }}/" title="Back to homepage">
        <svg class="logo" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8 3H7H6V4V5H4V6H6V9V10H7H10V12H11V10H12H13V9V8V7H12H11H10V8V9H7V6H8H9V5V4V3H8ZM12 9H11V8H12V9ZM7 5V4H8V5H7ZM3 5H2V6H3V5ZM10 13H11V14H10V13Z"
                fill="currentColor" />
        </svg>
    </a>

    <div class="nav-page">
        {{#if page.breadcrumbs}}
        <ol class="breadcrumbs">
            {{{ page.breadcrumbs }}}
        </ol>
        {{/if}}

        {{#if (and (ne page.title config.user.title) (ne page.title page.tree_path))}}
        <h1 class="page-title">{{ page.title }}</h1>
        {{/if}}
    </div>

    {{> @partial-block }}
</nav>
