<main class="tree">
    {{!-- Append page styles and scripts into the main content, such that they can be inlined
    into linked branches when those are loaded in. Putting them in the page's head would make
    extracting them way more painful than it needs to be. --}}

    {{#each page.styles}}
    <link rel="stylesheet" href="{{ asset (cat 'css/' this) }}">
    {{/each}}

    <script type="module">
        {{!-- Go through the import map for each script. --}}
        {{#each page.scripts}}
        import "{{ this }}";
        {{/each}}
    </script>

    {{{ page.tree }}}
</main>
