<div id="webkit-makes-me-go-insane" class="noscript" role="note">
    <p>hey! looks like you're using a weird or otherwise quirky web browser. this basically means, the website will
        not work for you correctly. I might fix it in the future but I have very limited time to work on this
        website and so don't have an estimate on when that might happen.</p>
    <p>in the meantime I suggest switching to <a href="https://firefox.com">something more modern.</a></p>
    <p>sorry for the inconvenience!</p>
</div>
