:root {
    --icon-choose: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYgMTJMMTAgOEw2IDQiIHN0cm9rZT0iIzU1NDIzZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=');
}

@media (prefers-color-scheme: dark) {
    :root {
        --icon-choose: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYgMTJMMTAgOEw2IDQiIHN0cm9rZT0iI2Q3Y2RiZiIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=');
    }
}

th-chat {
    display: flex;
    flex-direction: column;
}

@keyframes th-chat-appear {
    0% {
        opacity: 0%;
        translate: -16px 0;
    }

    100% {
        opacity: 100%;
        translate: 0 0;
    }
}

@keyframes th-chat-letter-appear {
    /* Letters are animated using text-shadow to prevent them from influencing the layout of the
       page. This unfortunately means we cannot have them colored, but it's a good enough tradeoff
       for chats that are interactive. */

    0% {
        text-shadow: transparent 0px 2px 0px;
        color: transparent;
    }

    80% {
        text-shadow: var(--text-color) 0px 0px 0px;
        color: transparent;
    }

    100% {
        text-shadow: transparent 0px 0px 0px;
        color: var(--text-color);
    }
}

th-chat-said {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 60%;

    &>.picture {
        flex-shrink: 0;
        align-self: stretch;

        position: relative;

        width: 128px;
        min-height: 128px;

        &::before {
            content: '';
            display: block;
            width: 200%;
            height: 100%;

            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateX(-25%);

            background-position: 50% 0%;
            background-repeat: no-repeat;

            z-index: -1;
        }

        &.character-coco.expression-neutral::before {
            background-image: url("../../character/coco/neutral.svg");
        }

        &.character-coco.expression-eyes_closed::before {
            background-image: url("../../character/coco/eyes_closed.svg");
        }

        &.character-vick::before {
            background-position-y: 15%;
            max-height: 256px;
        }

        &.character-vick.expression-neutral::before {
            background-image: url("../../character/vick/neutral.svg");
        }
    }

    &>.text-boxes {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        &>.text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;

            border: 1px solid var(--border-1);
            border-radius: 8px;
            padding: 12px 16px;
            margin: 4px 0;
            min-height: 4em;

            &>.text-container {
                display: inline-block;

                & .animated-text>.animated-letter {
                    color: transparent;
                    animation: th-chat-letter-appear calc(var(--transition-duration)) ease-out forwards;
                }
            }
        }
    }

}

th-chat-asked {
    display: flex;
    flex-direction: row-reverse;

    &>button {
        /* Reset <button> */
        border: none;
        background: none;
        color: var(--text-color);
        user-select: auto;

        padding: 0.5em 0;
        margin-right: 2rem;

        --recursive-wght: 500;
        font-size: inherit;
        text-decoration: underline;
        text-align: right;
        opacity: 80%;

        cursor: pointer;
        transition: opacity var(--transition-duration);

        &.asked {
            display: none;
            opacity: 50%;
        }

        &[disabled] {
            --recursive-wght: 600;
            cursor: default;
            opacity: 100%;
            text-decoration: none;
        }

        &:hover {
            opacity: 100%;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 0.5em;
            background-image: var(--icon-choose);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            opacity: 0%;
            vertical-align: middle;
            translate: -1em 0;
            transition: opacity var(--transition-duration), translate var(--transition-duration);
        }

        &:hover::before,
        &[disabled]::before {
            opacity: 50%;
            translate: 0 0;
        }
    }
}

.try-removing-the-styles-from-this-class {
    --red: var(--liquidex-brand-red);
    --green: var(--liquidex-brand-green);
    --blue: var(--liquidex-brand-blue);

    --recursive-wght: 900;
    --recursive-slnt: -12.0;

    mix-blend-mode: screen;
    color: transparent;
    animation: th-chat-prism 4s infinite forwards linear;

    user-select: none;
}

th-chat-said>.text-boxes>.text-box>.text-container .try-removing-the-styles-from-this-class .animated-text>.animated-letter {
    animation:
        th-chat-prism 4s infinite forwards linear,
        th-chat-letter-appear-prism calc(var(--transition-duration)) ease-out forwards !important;
}

@keyframes th-chat-letter-appear-prism {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* Kind of cursed to have this generated code here but eh. */
@keyframes th-chat-prism {
    0% {
        text-shadow:
            var(--red) 0px 10px 9.336093279924434px,
            var(--green) -0.9846964656910101px 7.939167013639128px 11.536118977011695px,
            var(--blue) -5.137865137013419px 5.422230671823684px 13.575429024288470px;
    }

    5.263157894736842% {
        text-shadow:
            var(--red) 3.2469946920468344px 9.458172417006347px 9.92842235180721px,
            var(--green) -3.509186210348192px 7.189270626503227px 13.177748511044557px,
            var(--blue) 2.6063085081070874px 5.85677291604704px 13.8901239544619730px;
    }

    10.526315789473683% {
        text-shadow:
            var(--red) 6.142127126896678px 7.891405093963936px 10.745239005710781px,
            var(--green) -5.653401178479849px 5.660305213958224px 14.69175071925469px,
            var(--blue) 9.251352384476998px 3.8214028529530797px 13.9999946258745730px;
    }

    15.789473684210526% {
        text-shadow:
            var(--red) 8.371664782625285px 5.4694815812242705px 11.698028482968478px,
            var(--green) -7.184982407365666px 3.517957902796149px 15.914059970217833px,
            var(--blue) 11.994925358476412px 0.17447467192943447px 13.8931348464595830px;
    }

    21.052631578947366% {
        text-shadow:
            var(--red) 9.694002659393304px 2.4548548714079925px 12.68354125966736px,
            var(--green) -7.937959305924511px 0.9943852661249821px 16.712220090509856px,
            var(--blue) 9.680010630642666px -3.5460327899867536px 13.5811245314169450px;
    }

    26.31578947368421% {
        text-shadow:
            var(--red) 9.965844930066698px -0.8257934547233227px 13.594981734645842px,
            var(--green) -7.8307351435571455px -1.6369444436079847px 16.99973804636687px,
            var(--blue) 3.2828516815793702px -5.77111091638238px 13.0977748397203890px;
    }

    31.57894736842105% {
        text-shadow:
            var(--red) 9.157733266550576px -4.016954246529693px 14.333581189983892px,
            var(--green) -6.874929322010374px -4.090885823065951px 16.745456805971017px,
            var(--blue) -4.4987481340945745px -5.562402026687315px 12.4954642104084430px;
    }

    36.84210526315789% {
        text-shadow:
            var(--red) 7.357239106731318px -6.7728157162574085px 14.819300914144259px,
            var(--green) -5.1741182329041875px -6.101516246960951px 15.976931687299158px,
            var(--blue) -10.38314046994968px -3.0079226212326815px 11.8394623459794060px;
    }

    42.10526315789473% {
        text-shadow:
            var(--red) 4.759473930370737px -8.79473751206489px 14.999505638296116px,
            var(--green) -2.912611148546427px -7.45095271071848px 14.777444311855275px,
            var(--blue) -11.888765385086291px 0.8150548475983073px 11.2008572273618580px;
    }

    47.368421052631575% {
        text-shadow:
            var(--red) 1.6459459028073402px -9.863613034027223px 14.854667384413201px,
            var(--green) -0.3354774524252109px -7.992962834826288px 13.276977748732923px,
            var(--blue) -8.380672274212813px 4.294308216472143px 10.6488516281373630px;
    }

    52.63157894736842% {
        text-shadow:
            var(--red) -1.6459459028073378px -9.863613034027225px 14.400481624700806px,
            var(--green) 2.2780104311352893px -7.668811412183691px 11.638130832184107px,
            var(--blue) -1.3382905900268254px 5.962570299305612px 10.2432639202313210px;
    }

    57.89473684210527% {
        text-shadow:
            var(--red) -4.759473930370735px -8.794737512064891px 13.68616643364195px,
            var(--green) 4.644640537508517px -6.513625279161567px 10.03849805494681px,
            var(--blue) 6.2684736383444655px 5.11630331013957px 10.0280458251370370px;
    }

    63.1578947368421% {
        text-shadow:
            var(--red) -7.3572391067313125px -6.772815716257414px 12.78912894593005px,
            var(--green) 6.507951772619226px -4.652586777832551px 8.651424449294616px,
            var(--blue) 11.231703550228898px 2.112394101474412px 10.0265195629107970px;
    }

    68.42105263157895% {
        text-shadow:
            var(--red) -9.157733266550572px -4.016954246529699px 11.80657709232943px,
            var(--green) 7.66602545189043px -2.2873683068032853px 7.627220963064483px,
            var(--blue) 11.458310883689439px -1.7823517955726478px 10.2388505277472140px;
    }

    73.68421052631578% {
        text-shadow:
            var(--red) -9.965844930066698px -0.8257934547233274px 10.84498561204052px,
            var(--green) 7.993366322808511px 0.32572201244428256px 7.076875936143959px,
            var(--blue) 6.852731024925024px -4.925446109237976px 10.6420293649518850px;
    }

    78.94736842105263% {
        text-shadow:
            var(--red) -9.694002659393306px 2.454854871407988px 10.008557862581846px,
            var(--green) 7.45450192279255px 2.903515297545747px 7.060027791682829px,
            var(--blue) -0.6427755801577868px -5.991386307724466px 11.1923653915494480px;
    }

    84.21052631578947% {
        text-shadow:
            var(--red) -8.371664782625288px 5.469481581224266px 9.387933769120988px,
            var(--green) 6.107826570926944px 5.16666764747635px 7.5785022875593535px,
            var(--blue) -7.867211522431584px -4.530645176498589px 11.8302211597147660px;
    }

    89.47368421052632% {
        text-shadow:
            var(--red) -6.14212712689668px 7.891405093963933px 9.050367582159382px,
            var(--green) 4.099273437407387px 6.86993138869423px 8.576114667184711px,
            var(--blue) -11.77389503652407px -1.1592449772280486px 12.4864750996151820px;
    }

    94.73684210526315% {
        text-shadow:
            var(--red) -3.2469946920468375px 9.458172417006347px 9.032439835933474px,
            var(--green) 1.646500420163723px 7.828731465978424px 9.94475814967534px,
            var(--blue) -10.715303530972529px 2.7010308328084514px 13.0900119140333260px;
    }

    100% {
        text-shadow:
            var(--red) -2.4492935982947065e-15px 10px 9.336093279924443px,
            var(--green) -0.9846964656910095px 7.939167013639128px 11.53611897701173px,
            var(--blue) -5.13786513701327px 5.422230671823719px 13.5754290242884770px;
    }
}
